body {
  min-height: 100%;
}

#root {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

body .ant-menu {
  &-vertical {
    border-right: none;
  }
}

body .ant-layout {
  flex: inherit;

  &-header {
    background: #fff;
  }

  &-sider {
    background: #fff;
  }

  &-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
  }
}
